#textdomain wesnoth-Saving_Elensefar
[scenario]
    name= _ "Orc Mountain"
    id=i2_Orc_Mountain
    next_scenario=r0_The_High_Seas
    
    map_data="{~add-ons/Saving_Elensefar/maps/i2_Orc_Mountain.map}"
    turns=16
    victory_when_enemies_defeated=no
    
    {DEFAULT_SCHEDULE}
    
    {SCENARIO_MUSIC northerners.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
    
#===============================================================================================#
    
    [side]
        side=1
        save_id=meneldur
        controller=human
        team_name=good
        shroud=no
        fog=no
        recruit=""
        {GOLD 75 75 75}
        {INCOME 0 0 0}
    [/side]
    
    [side]
        side=2
        #save_id=
        controller=ai
        team_name=bad
        shroud=no
        fog=no
        #ifdef HARD
        recruit="Orcish Grunt,Orcish Archer,Wolf Rider,Naga Fighter,Orcish Assassin"
        #else
        recruit="Orcish Grunt,Orcish Archer,Wolf Rider,Naga Fighter"
        #endif
        {GOLD 100 125 150}
        {INCOME 0 5 10}
    [/side]
    
#===============================================================================================#
    
    [event]
        name=prestart
        
        [recall]
            id=Meneldur
            x,y=23,19
        [/recall]
        
        [recall]
            id=Madru
            x,y=22,18
        [/recall]
        
        [recall]
            id=Black
            x,y=22,19
        [/recall]
        
        [unit]
            type=Orcish Warrior
            name= _ "Dur-Kal"
            id=Dur-Kal
            unrenamable=yes
            canrecruit=yes
            #profile=""
            
            #[modifications]
            #[/modifications]

            x,y=12,10
            side=2
        [/unit]
        
        [item]
            x,y=27,19
            image="units/transport/transport-galleon.png~RC(magenta>red)"
        [/item]
        
        [objectives]
            side=1
            
            [objective]
                description= _ "Defeat enemy leader"
                condition=win
            [/objective]
            
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            
            [gold_carryover]
                bonus=yes
                carryover_percentage=80
            [/gold_carryover]
            
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]
    
#===============================================================================================#
    
    [event]
        name=start
        
        [message]
            speaker=Meneldur
            message= _ "Orcs are here! Orcs, what do you know about the fall of Elensefar?"
        [/message]
        [message]
            speaker=Dur-Kal
            message= _ "Nothing, but I am glad to hear of it! Now prepare to die!"
        [/message]
        [message]
            speaker=Meneldur
            message= _ "Very well. Let battle commence."
        [/message]
    [/event]

    [event]
        name=enemies defeated
        
        [message]
            speaker=Madru
            message= _ "We have defeated all enemies, we have plenty of time to restock the ship now. We can train our troops here for a few days."
        [/message]
        
        [modify_unit]
            [filter]
                side=1
            [/filter]
            
            experience="$($this_unit.experience + 8)"
        [/modify_unit]
        
        [endlevel]
            result=victory
            
            bonus=yes
        [/endlevel]
    [/event]
    
    [event]
        name=last breath
        first_time_only=no
        
        [filter]
            canrecruit=yes
            side=1
        [/filter]
        
        [switch]
            variable=unit.id
            
            [case]
                value=Meneldur,Madru,Black
                
                [endlevel]
                    result=defeat
                [/endlevel]
            [/case]
            
            [else]
                [message]
                    speaker=unit
                    message= _ "Continue... the battle... for me..."
                [/message]
            [/else]
        [/switch]
    [/event]

    [event]
        name=time over
        
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]

