#textdomain wesnoth-Saving_Elensefar
[scenario]
    name= _ "A Deadly Alliance"
    id=sea_voyage_7
    next_scenario=sea_voyage_0

    map_data="{~add-ons/Saving_Elensefar/maps/i5-2_Deadly_Alliance.map}"
    {TURNS 30 26 24}
    victory_when_enemies_defeated=no

    {DEFAULT_SCHEDULE}
    
    {SCENARIO_MUSIC northerners.ogg}
    {EXTRA_SCENARIO_MUSIC underground.ogg}
    {EXTRA_SCENARIO_MUSIC suspense.ogg}
    {EXTRA_SCENARIO_MUSIC weight_of_revenge.ogg}
    
#===============================================================================================#
    
    [side]
        side=1
        save_id=meneldur
        controller=human
        team_name=good
        shroud=no
        fog=no
        recruit=""
        {GOLD 150 150 150}
        {INCOME 0 0 0}
    [/side]
    
    [side]
        side=2
        #save_id=
        controller=ai
        team_name=bad
        shroud=no
        fog=no
        recruit="Elvish Hero,Elvish Ranger,Elvish Rider"
        {GOLD 200 225 250}
        {INCOME 0 0 0}
        
        [ai]
            recruitment_pattern=fighter,mixed fighter,scout
        [/ai]
    [/side]
    
    [side]
        side=2
        #save_id=
        controller=ai
        team_name=bad
        shroud=no
        fog=no
        recruit="Orcish Crossbowman,Orcish Warrior,Orcish Slayer,Troll,Naga Warrior"
        {GOLD 200 225 250}
        {INCOME 0 0 0}
    [/side]
    
#===============================================================================================#
    
    [event]
        name=prestart
        
        [recall]
            id=Meneldur
            x,y=16,7
        [/recall]
        
        [recall]
            id=Madru
            x,y=16,8
        [/recall]
        
        [recall]
            id=Black
            x,y=17,8
        [/recall]
        
        [recall]
            id=Danrer
            x,y=15,8
        [/recall]
        
        [unit]
            type=Elvish Marshal
            name= _ "Alandur"
            id=Alandur
            unrenamable=yes
            canrecruit=yes
            #profile=""
            
            #[modifications]
            #[/modifications]

            x,y=17,23
            side=2
        [/unit]
        
        [unit]
            type=Orcish Warlord
            name= _ "Kra-Drano"
            id=Kra-Drano
            unrenamable=yes
            canrecruit=yes
            #profile=""
            
            #[modifications]
            #[/modifications]

            x,y=38,12
            side=3
        [/unit]
        
        [item]
            x,y=11,6
            image="units/caravel.png~RC(magenta>red)"
        [/item]
        
        [objectives]
            side=1
            
            [objective]
                description= _ "Defeat enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]
    
#===============================================================================================#
    
    [event]
        name=start
        
        [message]
            speaker=Meneldur
            message= _ "Alandur! I suppose you want to battle? Very well, but there are orcs here also. How about we kill them first, then battle?"
        [/message]
        [message]
            speaker=Alandur
            message= _ "Well, if the orcs had not occupied Elensefar when they took it, but rather destroyed it, we would. But, those on the mainland have proved extremely resistant to attacks."
        [/message]
        [message]
            speaker=Madru
            message= _ "Why does that matter? All that's important is that they're going to kill you, too!"
        [/message]
        [message]
            speaker=Alandur
            message= _ "No, we're currently concluding a peace treaty with the orcs. And it would be bad form to attack the relatives of those who you are trying to make a bargain with!"
        [/message]
        [message]
            speaker=Meneldur
            message= _ "But these orcs are probably from a completely different tribe!"
        [/message]
        [message]
            speaker=Alandur
            message= _ "We can't take that chance! These orcs claim to be allies with the ones in Elensefar, so we MUST ally with them."
        [/message]
        [message]
            speaker=Kra-Drano
            message= _ "Uh, yeah, of course... we be da same tribe... uh... Prepare to die, stupid dog-man!"
        [/message]
        
        [if]
            [variable]
                name=fought_men_yet
                equals=yes
            [/variable]
            
            [then]
                [message]
                    speaker=Meneldur
                    message= _ "So the elves, too, have given up trying to stop the orcs... it seems we are on our own against them. And these elves, since we are their enemies anyway, must die."
                [/message]
            [/then]
            
            [else]
                [message]
                    speaker=Meneldur
                    message= _ "The elves are willing to surrender Elensefar to orcs, just because they began to lose a few battles? We really need to get back there, soon."
                [/message]
            [/else]
        [/if]
        
        [message]
            speaker=Black
            message= _ "If we can just get to the western isle I spoke of, we may be able to defeat this alliance."
        [/message]
    [/event]

    [event]
        name=enemies defeated
        
        [if]
            [variable]
                name=fought_men_yet
                equals=yes
            [/variable]
            
            [then]
                [message]
                    speaker=Meneldur
                    message= _ "With Alandur dead, I think we have defeated all of the Elves who sail the sea. We probably won't see them until we reach Elensefar... we will have many enemies when we get there."
                [/message]
            [/then]
            
            [else]
                [message]
                    speaker=Meneldur
                    message= _ "Well, we won, but things might go badly for us later..."
                [/message]
            [/else]
        [/if]
        
        [set_variable]
            name=fought_elves_yet
            value=yes
        [/set_variable]
        
        [endlevel]
            result=victory
            
            bonus=yes
        [/endlevel]
    [/event]
    
    [event]
        name=die
        
        [filter]
            side=1
            canrecruit=yes
        [/filter]
        
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
