#textdomain wesnoth-Saving_Elensefar
[scenario]
    name= _ "Wesnothian Forces"
    id=sea_voyage_9
    next_scenario=sea_voyage_10
    
    map_data="{~add-ons/Saving_Elensefar/maps/i7-1_Wesnothian_Forces.map}"
    turns=24
    victory_when_enemies_defeated=no
    
    {DEFAULT_SCHEDULE}
    
    {SCENARIO_MUSIC love_theme.ogg}
    {EXTRA_SCENARIO_MUSIC silvan_sanctuary.ogg}
    
#===============================================================================================#
    
    [side]
        side=1
        save_id=meneldur
        controller=human
        team_name=good
        shroud=no
        fog=no
        recruit=""
        {GOLD 100 100 100}
        {INCOME 0 0 0}
    [/side]
    
    [side]
        side=2
        #save_id=
        controller=ai
        team_name=bad
        shroud=no
        fog=no
        recruit="Swordsman,Pikeman,Spearman,Longbowman,Bowman,Cavalryman,Mage"
        {GOLD 150 200 250}
        {INCOME 0 0 0}
    [/side]
    
#===============================================================================================#
    
    [event]
        name=prestart
        
        [recall]
            id=Meneldur
            x,y=6,5
        [/recall]
        
        [recall]
            id=Madru
            x,y=6,6
        [/recall]
        
        [recall]
            id=Black
            x,y=7,6
        [/recall]
        
        [unit]
            type=General
            name= _ "Thandor"
            id=Thandor
            unrenamable=yes
            canrecruit=yes
            #profile=""
            
            #[modifications]
            #[/modifications]

            x,y=12,18
            side=2
        [/unit]
        
        [item]
            x,y=2,5
            image="units/transport/transport-galleon.png~RC(magenta>red)"
        [/item]
        
        [objectives]
            side=1
            
            [objective]
                description= _ "Defeat enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]
    
#===============================================================================================#
    
    [event]
        name=start
        
        [message]
            speaker=Thandor
            message= _ "Greetings, traitor. I have what I suppose you would consider good news; Elensefar is not yet destroyed. The orcs are using it as their base for attacking us."
        [/message]
        [message]
            speaker=Meneldur
            message= _ "So that means you have heard of our suppposed rebellion. Let us not waste time; shall we commence battle?"
        [/message]
        [message]
            speaker=Thandor
            message= _ "Gladly. Prepare to die!"
        [/message]
    [/event]

    [event]
        name=enemies defeated
        
        [message]
            speaker=Madru
            message= _ "I fear we must wipe out all of the Wesnothian troops on this isle, or they will follow us and attack our ship. Onward!"
        [/message]
        
        [endlevel]
            result=victory
            
            bonus=yes
        [/endlevel]
    [/event]
    
    [event]
        name=die
        
        [filter]
            side=1
            canrecruit=yes
        [/filter]
        
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
