#textdomain wesnoth-Saving_Elensefar
[textdomain]
    name="wesnoth-Saving_Elensefar"
    path="data/add-ons/Saving_Elensefar/translations/"
[/textdomain]

[campaign]
    id=Saving_Elensefar
    name= _ "Saving Elensefar"
    abbrev= _ "SE"
    define=CAMPAIGN_SAVING_ELENSEFAR
    icon="units/transport/transport-galleon.png~RC(magenta>red)"
    image="data/campaigns/Legend_of_Wesmere/images/portraits/galtrid.png"
    first_scenario=1_Escaping_the_Orcs
    description= _ "Meneldur, elvish mariner of Elensefar, is driven to sea by the same orcs who attacked the city. He must gather an army willing to fight for him to regain Elensefar, his adopted homeland." + "

" + _ "(Expert level, 4 - 22 scenarios.)"

    [difficulty]
        define=EASY
        image="units/elves-wood/fighter.png~RC(magenta>red)"
        #textdomain wesnoth-units
        label= _ "Elvish Fighter"
        #textdomain wesnoth-low
        description= _ "Easy"
        default=yes
    [/difficulty]

    [difficulty]
        define=NORMAL
        image="units/elves-wood/captain.png~RC(magenta>red)"
        #textdomain wesnoth-units
        label= _ "Elvish Captain"
        #textdomain wesnoth-low
        description= _ "Normal"
        default=no
    [/difficulty]

    [difficulty]
        define=HARD
        image="units/elves-wood/marshal.png~RC(magenta>red)"
        #textdomain wesnoth-units
        label= _ "Elvish Marshal"
        #textdomain wesnoth-low
        description= _ "Challenging"
        default=no
    [/difficulty]
    
    {~add-ons/Saving_Elensefar/about.cfg}
[/campaign]

#ifdef CAMPAIGN_SAVING_ELENSEFAR
# Dependency 'Legend of Wesmere'
# - "data/campaigns/Legend_of_Wesmere/images/portraits/galtrid.png"
# - #textdomain wesnoth-low

# Dependency 'The Rise Of Wesnoth'
# - data/campaigns/The_Rise_Of_Wesnoth/images/story/*.jpg
# - #textdomain wesnoth-trow

[binary_path]
    path=data/campaigns/Liberty
[/binary_path]

{~add-ons/Saving_Elensefar/scenarios/}

[units]
    {campaigns/Liberty/units/Rogue_Mage.cfg}
    {campaigns/Liberty/units/Shadow_Mage.cfg}
    {campaigns/Liberty/units/Shadow_Lord.cfg}
[/units]
#endif
